.pointer{
    cursor: pointer;
}

.resize-none{
    resize: none;
}

.fs-09 {
    font-size: 0.9rem;
}

.fs-08{
    font-size: 0.8rem;
}

.fs-07{
    font-size: 0.7rem;
}
.italic{
    font-style: italic;
}

.oeoe{
    border: 1px solid;
}